.sc-media {
  /* padding: 25px 0; */
  /* text-align: center; */
  position: relative;
  top: 7rem;
}

.sc-media .icon {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin: 9px;
  padding: 16px;
  color: #000;
}

.sc-media .icon i {
  color: #fff;
}

.masterContent {
  text-align: center;
  color: #fff;
 
}

.sc-media a.icon:hover {
  background-color: white;
  border: 1px solid black;
  transition: ease-in .8s;
}

.sc-media a.icon:hover i {
  color: green;
  transition: ease-in .8s;
}

.sc-media  .inside-container  {
  width: 50%;
  align-content: center;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
}