@import url('./Assets/fonts/Caveat/caveat.css');
@import url('./Assets/fonts/angular/Island.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-brand {
  font-size: xxx-large;
}
.island{
  font-family: "IslandMoments","Caveat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.caveat {
  font-family: "Caveat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*  */

.h-1rem {
  height: 1rem;
}

.h-2rem {
  height: 2rem;
}

.h-3rem {
  height: 3rem;
}

.h-4rem {
  height: 4rem;
}

.h-5rem {
  height: 5rem;
}