.card {
  min-height: 275px;
  /* max-height: 300px; */
  overflow: hidden;
  margin-bottom: 10px;
  /* padding: 10px 10px; */
}

.card-img-top {
  text-align: center;
}

.card-title {
  font-size: 15px;
}

.card img {
  /* text-align: center; */
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgb(255, 255, 255);
  max-height: 175px;
}

.card-text {
  overflow: hidden;
  /* height: 2px; */
  font-size: 12px;
  max-height: 95px;
  min-height: 95px
  
}

.card-body {
  min-height: 120px;
  /* max-height: 120px; */
  overflow: hidden;
  padding: 4px 14px;
}

/* // .project-card{
//   margin: 25px 0;} */

hr.divider {
  width: 25%;
  margin: 2px auto;
}

.process-btn {
  margin-top: 5px;
}

.bg-proj-carousel {
  background-color: #84c5f52b;
  border-radius: 1%;

}

a.btn.btn-primary.process-btn.btn-live, .btn-git, .btn-demo {
  font-size: 12px;
  padding: 1px 14px;
}

.card-body:hover {
  background-color: #54b4f85e;
  transition: 20ms;
}
